* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #1e2124;
  font-family: poppins;
  color: white;
}

.google-li {
  color: rgb(181, 9, 255);
  padding: 10px;
}
